<!DOCTYPE html>
<html>

<head>
    <!-- use partial for head.ejs -->
    <%- include('../views/partials/head.ejs') %>
</head>

<body>
    <header>
        <!-- use partial for header.ejs -->
        <%- include('../views/partials/header.ejs') %>
    </header>

    <main>
        <section>
            <img src="./images/grain-texture.jpg" alt="background image grain">
            <div>
                <div>
                    <h1 class=".text-animation">LETS TAKE YOU ON A JOURNEY</h1>
                </div>
                <svg width="500" height="500" viewBox="0 0 590 590" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="logo" style="mix-blend-mode:soft-light">
                        <g id="big circle">
                            <path id="side-p2" fill-rule="evenodd" clip-rule="evenodd"
                                d="M1.17212 321.477C0.39624 312.755 0 303.924 0 295C0 175.742 70.7662 73.0132 172.597 26.5134L221.883 54.8159C118.924 86.1184 44 181.809 44 295C44 313.707 46.0465 331.936 49.9279 349.475L1.17212 321.477ZM588.53 265.362C589.502 275.11 590 284.997 590 295C590 413.13 520.566 515.042 420.284 562.152L371.49 534.132C472.708 501.783 546 406.951 546 295C546 275.066 543.676 255.676 539.285 237.084L588.53 265.362Z"
                                fill="#ECECEC" />
                            <path id="side-p1" fill-rule="evenodd" clip-rule="evenodd"
                                d="M284.655 589.822C183.407 586.333 95.1179 531.822 44.6992 451.2L70.3315 407.041C111.496 489.425 196.64 546 294.999 546C300.157 546 305.279 545.844 310.36 545.538L284.655 589.822ZM306.475 0.219104C407.65 4.08932 495.767 58.9132 545.897 139.761L520.199 184.032C479.24 101.067 393.784 44 294.999 44C290.245 44 285.522 44.1321 280.834 44.3929L306.475 0.219104Z"
                                fill="#ECECEC" />
                        </g>
                    </g>
                </svg>
            </div>
            <svg class="mouse" width="64" height="93" viewBox="0 0 64 93" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M32 0C14.3269 0 0 14.3269 0 32V61C0 78.6731 14.3269 93 32 93C49.6731 93 64 78.6731 64 61V32C64 14.3269 49.6731 0 32 0ZM32 9C29.2385 9 27 11.2385 27 14V19C27 21.7615 29.2385 24 32 24C34.7615 24 37 21.7615 37 19V14C37 11.2385 34.7615 9 32 9Z" fill="white"/>
                </svg>                
        </section>
        <section>
            <article>
                <h2>Lisa lotte Fokkinga</h2>
                <div>
                    <span class="tag-style">Web designer</span>
                    <span class="tag-style">Web developer</span>
                </div>
                <p>
                    Hi, I'm Lisa Lotte Fokkinga, a 24-year-old student at Hogeschool van Amsterdam. I'm currently in my
                    third year of Communication and Multimedia Design. My focus lies in Web design and development.
                </p>
                <p>
                    Learn more about my personality and values, or simply download my CV for detailed educational
                    information. </p>
                <div>
                    <a href="/projects">About me</a>
                    <a href="/cv">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="download">
                                <path id="stroke" fill-rule="evenodd" clip-rule="evenodd" d="M0 14.4H16V16H0V14.4Z"
                                    fill="#1B1C1C" />
                                <path id="arrow" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8.82809 0V10.0528L12.8921 7.40266L14 8.29461L8.55396 11.846C8.23904 12.0514 7.76096 12.0514 7.44604 11.846L2 8.29461L3.10793 7.40266L7.17191 10.0528V0H8.82809Z"
                                    fill="#1B1C1C" />
                            </g>
                        </svg>
                        CV
                    </a>
                </div>
            </article>
            <div>
                <img src="./images/lisa-lotte.png" alt="Lisa Lotte Fokkinga">
            </div>
        </section>
        <section>
            <img src="./images/grain-texture2.jpg" alt="background image grain">
            <article>
                <h2>
                    My skills and gains
                </h2>
                <p>It's time for me to elaborate on what I bring to the table and the skills I can offer. Here's a brief
                    overview of the skills I possess for both web design and development</p>
            </article>
            <div class="scroll">
                <div class="scroll-wrapper">
                    <!-- Data uit het JSON-bestand -->
                    <% for (const key in skillsWebDev) { %>
                    <% const SkillWebDev = skillsWebDev[key]; %>
                    <div class="card">
                        <div class="content">
                            <div class="front">
                                <img class="icons" src="<%= SkillWebDev.img %>" alt="<%= SkillWebDev.name %>">
                                <p><%= SkillWebDev.name %></p>
                            </div>
                            <div class="back">
                                <span><%= SkillWebDev.percentage %>%</span>
                                <p><%= SkillWebDev.level %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="scroll-wrapper">
                    <!-- Data uit het JSON-bestand -->
                    <% for (const key in skillsWebDev) { %>
                    <% const SkillWebDev = skillsWebDev[key]; %>
                    <div class="card">
                        <div class="content">
                            <div class="front">
                                <img class="icons" src="<%= SkillWebDev.img %>" alt="<%= SkillWebDev.name %>">
                                <p><%= SkillWebDev.name %></p>
                            </div>
                            <div class="back">
                                <span><%= SkillWebDev.percentage %>%</span>
                                <p><%= SkillWebDev.level %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>

            <div class="scroll">
                <div class="scroll-wrapper">
                    <% for (const key in skillsWebDesign) { %>
                    <% const skillWebDesign = skillsWebDesign[key]; %>
                    <div class="card">
                        <div class="content">
                            <div class="front">
                                <img class="icons" src="<%= skillWebDesign.img %>" alt="<%= skillWebDesign.name %>">
                                <p><%= skillWebDesign.name %></p>
                            </div>
                            <div class="back">
                                <span><%= skillWebDesign.percentage %>%</span>
                                <p><%= skillWebDesign.level %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="scroll-wrapper">
                    <% for (const key in skillsWebDesign) { %>
                    <% const skillWebDesign = skillsWebDesign[key]; %>
                    <div class="card">
                        <div class="content">
                            <div class="front">
                                <img class="icons" src="<%= skillWebDesign.img %>" alt="<%= skillWebDesign.name %>">
                                <p><%= skillWebDesign.name %></p>
                            </div>
                            <div class="back">
                                <span><%= skillWebDesign.percentage %>%</span>
                                <p><%= skillWebDesign.level %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
        <section>
            <article>
                <h2>My projects</h2>
                <p>Here are some of the projects I've worked on. I've included a brief description of each project and
                    what I've learned from it. Feel free to check them out and let me know what you think!</p>
            </article>
            <div class="">
                <!-- Data uit het JSON-bestand -->
                <% for (const key in projects) { %>
                <% const project = projects[key]; %>

                <div class="project" onclick="showProject('<%= project.title %>')">
                    <div class="bg-mask">
                        <div style="background: linear-gradient(to right, <%= project.colors[0] %>, <%= project.colors[1] %>);">
                        </div>
                        <img src="./images/grain-texture.jpg" alt="background image grain">
                    </div>
                    <div class="text-wrapper">
                        <div class="title">
                            <h4><%= project.type %></h4>
                            <h3><%= project.title %></h3>
                        </div>
                        <div class="tags">
                            <!-- for each lus for all grade title names -->
                            <% for (const grade of project.grades) { %>
                            <span class="tag-style"><%= grade.title %></span>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="fullscreen-project">
                <div>
                    <img>
                    <svg>
                        
                    </svg>
                </div>
            </div>

        </section>
    </main>
    <script src="./js/scrollBlur.js"></script>
    <script src="./js/scrollAnimation.js"></script>
</body>

</html>