<!DOCTYPE html>
<html>

<head>
    <%- include('../views/partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../views/partials/header.ejs') %>
    </header>
    <main class="detail-page">
        <section class="detail-page-overview">
            <div class="detail-page-content-wrapper">
                <div class="title">
                    <h4><%= projectData.type %></h4>
                    <h3><%= projectData.title %></h3>
                </div>
                <div class="tags">
                    <!-- for each lus for all courses title names -->
                    <% for (const course of projectData.courses) { %>
                    <span class="tag-style"><%= course.title %></span>
                    <% } %>
                </div>
                <p class="discription"><%= projectData.description %></p>
            </div>
            </div>
            <div class="right-side">
                <!-- image src data -->
                <img class="project-image" src="<%  %>" alt="project image">
            </div>
        </section>
    </main>
</body>

</html>