<!DOCTYPE html>
<html>

<head>
    <%- include('../views/partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../views/partials/header.ejs') %>
    </header>
    <main class="detail-page">
        <section class="detail-page-overview">
            <div class="detail-page-content-wrapper">
                <div class="title">
                    <h4><%= projectData.type %></h4>
                    <h3><%= projectData.title %></h3>
                </div>
                <div class="tags">
                    <!-- for each lus for all courses title names -->
                    <% for (const course of projectData.courses) { %>
                    <span class="tag-style"><%= course.title %></span>
                    <% } %>
                </div>
                <div class="project-resources-wrapper">
                    <h5>Resources</h5>
                    <div class="project-resources">
                        <!-- Hier word dynamische resources geleverd -->
                    </div>
                </div>
                <div class="project-description-wrapper">
                    <h5>Description</h5>
                    <p class="project-description"><%= projectData.description %></p>
                </div>
            </div>
            </div>
            </div>
            <div class="detail-page-image-wrapper">
                <!-- image src data -->
                <img class="project-image" src="<%= projectData.IntroductionImage  %>" alt="project image">
            </div>
        </section>
        <section class="detail-page-introduction">
            <div class="detail-page-content-wrapper">
                <div class="title">
                    <h4 class="sub-header"><%= projectData.title %></h4>
                    <h3><%= projectData.IntroductionHeader %></h3>
                </div>
                <p class="project-introduction"><%= projectData.IntroductionText %></p>
            </div>
            <div class="detail-page-introduction-image">
                <div class="detail-page-introduction-wrapper">
                    <img src="<%= projectData.mockup %>" alt="introduction image">
                    <svg width="500" height="500" viewBox="0 0 590 590" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="logo" style="mix-blend-mode:soft-light">
                            <g id="big circle">
                                <path id="side-p2" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.17212 321.477C0.39624 312.755 0 303.924 0 295C0 175.742 70.7662 73.0132 172.597 26.5134L221.883 54.8159C118.924 86.1184 44 181.809 44 295C44 313.707 46.0465 331.936 49.9279 349.475L1.17212 321.477ZM588.53 265.362C589.502 275.11 590 284.997 590 295C590 413.13 520.566 515.042 420.284 562.152L371.49 534.132C472.708 501.783 546 406.951 546 295C546 275.066 543.676 255.676 539.285 237.084L588.53 265.362Z"
                                    fill="#ECECEC" />
                                <path id="side-p1" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M284.655 589.822C183.407 586.333 95.1179 531.822 44.6992 451.2L70.3315 407.041C111.496 489.425 196.64 546 294.999 546C300.157 546 305.279 545.844 310.36 545.538L284.655 589.822ZM306.475 0.219104C407.65 4.08932 495.767 58.9132 545.897 139.761L520.199 184.032C479.24 101.067 393.784 44 294.999 44C290.245 44 285.522 44.1321 280.834 44.3929L306.475 0.219104Z"
                                    fill="#ECECEC" />
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            <img class="grain" src="./images/grain-texture.jpg" alt="background image grain">
        </section>
        <section class="detail-page-subjects">
            <article class="topics">
                <div class="title">
                    <h4 class="sub-header"><%= projectData.title %></h4>
                    <h3><%= projectData.IntroductionHeader2 %></h3>
                </div>
                <div class="topic-btns">
                    <!-- for each loop for all course title names -->
                    <% let isFirst = true; %>
                    <% for (const course of projectData.courses) { %>
                    <input name="goals" type="radio" class="secondary-btn" value="<%= course.title %>"
                        id="<%= course.title %>" <%= isFirst ? 'checked' : '' %>>
                    <label for="<%= course.title %>" class="secondary-btn"><%= course.title %></label>
                    <% isFirst = false; %>
                    <% } %>
                </div>
            </article>
            <article class="goals">
                <div class="goals-text">
                    <h4>
                        The goals
                    </h4>
                    <p>
                        In this course, we've got some clear goals. They're like our guideposts to help you know what
                        you'll
                        learn. Take a look at what we're aiming for – it's all about making sure you pick up the skills
                        and
                        knowledge we're here to share. Let's explore these goals together.
                    </p>
                </div>
                <div class="goals-wrapper">
                </div>
            </article>
            <article class="topic-story">
            </article>
        </section>
        <section class="detail-page-images">
            <div class="topic-image-container">
                <!-- For in loop to iterate over each course -->
                

                </div>
        </section>
    </main>
</body>
<script src="./js/fetchingData.js"></script>
<script src="./js/scrollBlur.js"></script>

</html>